body{
  background-color: #9DBCEB;
}
/* title */
h1{
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 60px;
  font-family: monospace;
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: monospace;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.circle:hover {
  height: 220px;
  width: 220px;
  transition: all 300ms ease-in-out;
}

/* cicle for happy */
.happy {
    background-color: #ffff66;
    opacity: .8;
  }
/* circle for sad */
.sad {
    background-color: #809fff;
    opacity: .8;
}
/* circle for chill */
.chill {
    background-color: #4dff4d;
    opacity: .8;
}
/* circle for energy */
.energy {
    background-color: #ffb84d;
    opacity: .8;
}
/* circle for love */
.love {
    background-color: #ff4d4d;
    opacity: .8;
;
}
/* text on circles */
h2{
  margin-top: 80px;
  margin-bottom: 90px;
}
/* NAVIGATION BAR ...cite!*/
  /* Style page content */
  .main {
      margin-left: 50px; /* Same as the width of the sidebar */
      padding: 0px 10px;
      font-style: roma
  }

  /* Style the navbar NAME*/
  #navbarName {
    overflow: hidden;
    background-color: dimgrey;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 45px;
    font-size: 20px;
    font-family: monospace;
    padding: 14px 5px 5px 10px;
  }

  /* Navbar links */
  #navbarName a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 75px 75px 40px;
    text-decoration: none;
    font-family: monospace;

  /* Page content */
  .content {
    padding: 16px;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
      #navbar a {padding-top: 15px 5px 10px 10px;}
      #navbar a {font-size: 18px;}
  }

  /* When you mouse over the nav bar links, change their color */
  #navbarName a:hover {
      color: black;
  }
